@import '@/styles/globals.scss';

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 250px;
  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: $primary-light;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: $animation;

  .header {
    .title {
      font-size: 25px;
      font-weight: 900;
      color: $primary;
      display: flex;
      align-items: center;
      gap: 10px;

      @include mobile {
        font-size: 20px;
      }
    }
    .description {
      font-size: 15px;
      font-weight: 400;
      color: $secondary;
      @include mobile {
        font-size: 12px;
      }
    }
    transition: $animation;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    .price {
      font-size: 20px;
      font-weight: 500;
      color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .reliesOnBadge {
    font-size: 12px;
    font-weight: 400;
    background-color: $primary-light;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: left;
  }

  &.available {
    background-color: $white;
  }

  &.selected {
    background-color: $primary !important;

    .header {
      display: flex;
      align-items: center;
      color: white;
      .icon {
        font-size: 30px;
        color: $white;
        min-width: 30px;
        min-height: 30px;
      }
      .details {
        margin-left: 20px;
      }
    }
    .title {
      color: white;
    }

    .description {
      color: white;
    }
    .price {
      color: white;
    }

    .reliesOnBadge {
      background-color: $primary-dark;
      color: rgb(255, 255, 255);
    }
  }

  &.discount {
    background-color: $primary-light;
    grid-template-columns: 1fr 1fr;
    box-shadow: none;

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .title {
      font-size: 20px;
    }
    .options {
      justify-content: flex-end;
    }
    .description {
      font-size: 12px;
    }
  }
}
