.verify-email-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  .verify-email-icon {
    font-size: 5rem;
    font-weight: 900;
    color: var(--primary);
    width: 100%;
  }
  .verify-email-text {
    font-size: 1.2rem;
    font-weight: 600;
    // color: var(--primary);
    background-color: rgb(244, 246, 251);
    padding: 15px;
    border-radius: 10px;
  }
  .verify-email-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--primary);
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}
