@import '@/styles/globals.scss';

.verify-steps-container {
  .verify-steps {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .verify-step {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .verify-step-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 10px;

        .verify-step-title-container {
          display: flex;
          align-items: center;

          .verify-step-icon-number {
            color: #ffffff;
            margin-right: 10px;
            background-color: var(--primary);
            border-radius: 50%;
            // padding: 10px;
            text-align: center;
            min-width: 30px;
            min-height: 30px;
            max-width: 30px;
            max-height: 30px;
            font-size: 1.3rem;
          }
          .verify-step-title {
            font-weight: 600;
            margin-right: 10px;
            font-size: 1.6rem;

            @include mobile {
              font-size: 1.3rem;
            }
          }
        }

        .verify-step-icon {
          font-size: 2rem;
          font-weight: 900;
          color: var(--primary);
        }
      }

      .verify-step-description {
        font-size: 1rem;
        background-color: rgb(244, 246, 251);
        padding: 15px;
        border-radius: 10px;

        @include mobile {
          font-size: 0.8rem;
        }
      }
    }
  }
}
